{% extends 'base.html' %}

{% block about %}

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
              <h3 class="into-sub-title" style="text-align:center;">Core Values</h3>
              <br>
              <p>Our Core Values are Partnerships, Innovation, Integrity, Impact and Respect for Diversity and Gender (PIIIR). These guiding principles collectively is considered the "lifeblood" of our operations and represent the heart of our organization. We therefore strongly encourage our members to internalize these values wherever they are:</p>
              <br>
              <ul class='list-arrow'>
                <li><b>Partnerships:</b> We will collaborate and work with those who share our values and ethos by building a partnership approach in everything that we do.</li><br>
                <li><b>Innovation:</b> We are a learning organization and will strive to be innovative in whatever we do. </li><br>                
                <li><b>Integrity:</b> We are honest, transparent, inclusive and accountable to all our stakeholders. We will continue to maintain the highest ethical and moral standards. </li><br>                
                <li><b>Impact:</b> We will ensure a lasting and positive difference is made on the lives of people on whose behalf TradeAID Integrated exists. </li><br>
                <li><b>Respect for Diversity & Gender:</b> We will  promote gender and diversity in all our operations to ensure equal opportunity for all, irrespective of age, gender, race, class, ethnicity, disability, or political affiliation. 
                </li><br>
              </ul>
              <p>We collectively express these values as <b>"PIIIR". </b></p>
          </div><!-- Intro box end -->      
        </div><!-- Col end -->
      </div>
    </div><br>

  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
          <h3 class="into-sub-title" style="text-align: center;">General Objectives</h3>
          <br>
          <ul class='list-arrow'>
            <li>To assist in the provision of market access to small scale producers, in agricultural and craft sectors.</li><br>
            <li>To assist in the provision of financial services to agricultural and craft producers as well as women entrepreneurs.</li><br>
            <li>Join in the campaign for FairTrade and economic justice in any part of the world.</li><br>
            <li>To engage in the capacity building of entrepreneurs and producer groups and associations so as to improve their operational efficiency.</li><br>
            <li>Conduct research, disseminate information and advocate on such areas critical to the development of the agricultural and the small scale sector in Northern Ghana.</li><br>
          </ul>
        </div>
      </div>
    </div>
  </div><br>
        
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
          <h3 class="into-sub-title" style="text-align: center;">Our History</h3>
          <br>
          <p>TradeAID Integrated was founded in the year 2000 as the initiative of Apokerah Nicholas following the findings of his undergraduate project work on the topic “The Role of Ghana Enterprises Agency (GEA) on the output levels of straw basket weavers in Bolgatanga District. The research revealed the following three (3) issues;</p><br>

        <div>
          <ul class='list-arrow'>
            <li>That straw basket weaving (Bolga Baskets) was a major source of livelihood for the people of Bolgatanga District.</li><br>
            <li>That GEA and its affiliate bodies were not giving much support to the sector and contributed little to output.</li><br>                                       <li>Baskets weavers were earning less than 30% of the final retail price of straw baskets.</li><br>
          </ul>
            
          These findings inspired Nicholas Apokerah to initiate TradeAID Integrated to explore ways of building the capacity of the weavers to increase their output and earnings from their basket enterprise. Consequently, FairTrade was introduced to the weavers as alternative trading so as to maximize their earnings. TradeAID Integrated has since moved on to provide holistic enterprise development support to its stakeholders.  

        </div>
      </div>
    </div>
  </div>
</section><!-- Feature are end -->
 
  {% endblock %}
