{% extends 'base.html'%}
{% load static %}
  
{% block corporate %}

<title>{% block title %} Corporate{% endblock %}</title>

<section id="main-container" class="main-container pb-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="section-sub-title">TradeAID Integrated Theory of Change</h3>
      </div>
    </div>
    <!--/ Title row end -->
    <p align="justify">Our Theory of Change is premised on the role of <b>Small and Medium Enterprises (SMEs)</b> built around indigenous livelihoods to generate income for the poor to ultimately reduce poverty. We therefore, have one programme approach built around <b>four (4) pillars</b> namely; <b>Market Access, Financial Intermediation, Business Management Training and Policy Advocacy</b>. Studies have shown that inefficiencies in these four pillars constitute significant constraint to the growth and development of SMEs and consequently their ability to create employment and help reduce poverty.  TradeAID Integrated Theory of Change is therefore, to build the capacity of SME operators in line with these four pillars of Market Access, Business Management, Financial Intermediation and Trade Policy Advocacy in order to improve the performance of SMEs and therefore contribute to poverty reduction. Diagrammatic illustration is provided below:</p>
  </div>

  <div class="container">
    <center><img loading="lazy" src="{% static 'images/theory-of-change.png' %}" alt="theory-of-change" class="img-fluid" alt="theory-of-change" style="padding: 40px;"></center>
  </div> 
</section>

<section id="main-container" class="main-container pb-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="section-sub-title">Management Structure </h3>
      </div>
    </div>
    <!--/ Title row end -->
        <p align="justify">TradeAID Integrated is a <b>Ghanaian Non-Governmental Organization</b> that operates from the <b>Upper East Region of Ghana</b>. It is registered at the <b>Registrar General Department</b> and the <b>Social Welfare Department</b> with the following certificate numbers respectively <b>CG151712015/ D.S.D/4355</b>. The organization is managed at two levels by an <b>Advisory Board and a Management Team</b>. The Board consist of <b>seven (7) members</b> made up of <b>five (5) men to two (2) women</b>. The second level of management is what we term the management team. The team consist of the <b>Executive Director, Programmes Manager, all Project Coordinators</b> and the <b>Finance and Administrative Officer</b>. The list of Board Members include:</p>
  
    <div class="row justify-content-center">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/daniel.jpg' %}" class="img-fluid" alt="daniel" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Mr. Daniel Damkah</h3>
            <p class="ts-designation">Board Chair</p>
            <p class="ts-description" align="justify"><b>Daniel</b> is the Chief Executive Officer (CEO) of The King’s Village, an NGO. The organization aim among others to work to transform communities through integrated Christ-centred approach. Prior to this position Daniel has worked over seven (7) years as a branch manager of Barclays Bank now called Absa Bank</p>
          </div>
        </div>
        <!--/ Team wrapper 1 end -->
    </div><!-- Col end -->

      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/nicholas.jpg' %}" class="img-fluid" alt="Nicholas Apokerah" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Mr. Nicholas Apokerah</h3>
            <p class="ts-designation">Founder/Secretary</p>
            <p class="ts-description" align="justify"><b>Nicholas Apokerah</b> is the founder of TradeAID Integrated. He is currently an International Action Learning MBA candidate with the Business School Netherlands. Nicholas holds B.A (Economics) and a Diploma in Education from the University of Cape Coast - Ghana. In addition, he holds certificates in Small Enterprise Policy and Promotion, Market Access and Sustainable Development, Social Banking, Value Chains and Food Safety in Sub-Saharan Africa. He also holds Social Entrepreneurship certificate from a number of International training Institutions among which include; National Institute of Small Industry Extension Training (NISIET - India), Centre for Development Innovation - Netherlands, Western Cape Institute of Agriculture South Africa and the Institute of Social Banking Bochum, Germany. Nicholas is the Executive Director and Secretary to the Board.</p>
          </div>
        </div>
        <!--/ Team wrapper 2 end -->
      </div><!-- Col end -->

      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/elizabeth.jpg' %}" class="img-fluid" alt="Elizabeth Adongo" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Mrs Adongo Elizabeth</h3>
            <p class="ts-designation">Treasurer</p>
            <p class="ts-description" align="justify"><b>Mrs Adongo</b> holds Master’s Degree in Education in Textile Fashion and Design Technology from the University of Education Winneba. She currently works as the Gender Desk Officer for the Talensi District of the Upper East Region of Ghana.</p>
          </div>
        </div>
        <!--/ Team wrapper 3 end -->
      </div><!-- Col end -->

    </div><!-- Content row 1 end -->

    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/george.jpg' %}" class="img-fluid" alt="George Wak" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Dr. Wak George</h3>
            <p class="ts-designation">Member</p>
            <p class="ts-description" align="justify"><b>Dr. George P. Wak</b> is a Senior Lecturer with the Department of Population and Behavioural Sciences at the School of Public Health of the University of Health and Allied Sciences. He joined the University in December 2019. He is a demographer by training and prior to joining the university had worked with the Navrongo Health Research Centre (NHRC) for 29 years. Dr. Wak has vast experience in addressing developmental challenges in Northern Ghana.</p>
          </div>
        </div>
        <!--/ Team wrapper 4 end -->
      </div><!-- Col end -->

      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/peter.jpg' %}" class="img-fluid" alt="Peter Anoah" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Pastor Peter Anoah</h3>
            <p class="ts-designation">Member</p>
            <p class="ts-description" align="justify"><b>Pastor Anoah</b> holds a Degree in Agricultural Extension from the University of Cape Coast. He worked for several years as an Agricultural Extension Officer and is currently the Founder and Project Coordinator at Sirigu Ecological Initiative for Sustainable Development (SEISUD), Ghana.</p>
          </div>
        </div>
        <!--/ Team wrapper 5 end -->

      </div><!-- Col end -->
      <br><br>

      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/yakubu.jpg' %}" class="img-fluid" alt="Yakubu Gumah" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Mr. Gumah Yakubu</h3>
            <p class="ts-designation">Member</p>
            <p class="ts-description" align="justify"><b>Mr. Yakubu</b> is a Farmer and Agricultural Educationalist. He was one time best Northern Regional Farmer. He is currently a subject teacher at Walewale Senior High School. He brings to the Board farmers perspective.</p>
          </div>
        </div>
        <!--/ Team wrapper 6 end -->
      </div><!-- Col end -->
      <br><br>

      <div class="col-lg-12 col-md-12 col-sm-12 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/team/leticia.jpg' %}" class="img-fluid" alt="Leticia Apokerah" style="float:left; padding:20px 15px 0px 0px; width:200px; height:200px;">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Leticia Apokerah</h3>
            <p class="ts-designation">Member</p>
            <p class="ts-description" align="justify"><b>Leticia Apokerah</b> is a Social Worker at ADDRO, the development wing of the Anglican Church. She holds a B.A. in Social Work and has over ten (10) years experience in development work.</p>
          </div>
        </div>
        <!--/ Team wrapper 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->

<section id="main-container" class="main-container pb-4">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-12">
        <h3 class="section-sub-title">Our Key Staff</h3>
      </div>
    </div>
    <!--/ Title row end -->

    <div class="row justify-content-center">
      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/nicholas_apokerah.jpg' %}" class="img-fluid" alt="Nicholas Apokerah">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Mr. Nicholas Apokerah</h3>
            <p class="ts-designation">Executive Director</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 1 end -->

      </div><!-- Col end -->

      <div class="col-lg-3 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/barnabas_gazari.jpg' %}" class="img-fluid" alt="Barnabas">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Barnabas Mansunyi Gazari</h3>
            <p class="ts-designation">Finance / Administration</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 2 end -->
      </div><!-- Col end -->

    </div><!-- Content row 1 end -->

    <div class="row">
      <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/conrad_duti.jpg' %}" class="img-fluid" alt="Conrad Duti">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Conrad Biilarh Duti</h3>
            <p class="ts-designation">Programmes Manager</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 3 end -->
      </div><!-- Col end -->

      <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/andrews.jpg' %}" class="img-fluid" alt="Andrews">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Andrews Atampugre</h3>
            <p class="ts-designation">Project Cordinator</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 4 end -->

      </div><!-- Col end -->

      <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/isaac_anoah.jpg' %}" class="img-fluid" alt="Isaac Anoah">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Isaac Anoah</h3>
            <p class="ts-designation">Project Cordinator</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 5 end -->
      </div><!-- Col end -->

      <div class="col-lg-3 col-md-4 col-sm-6 mb-5">
        <div class="ts-team-wrapper">
          <div class="team-img-wrapper">
            <img loading="lazy" src="{% static 'images/staff/alilya.jpg' %}" class="img-fluid" alt="Alilya">
          </div>
          <div class="ts-team-content-classic">
            <h3 class="ts-name">Rebecca Aliliya</h3>
            <p class="ts-designation">Administrative Secretary</p>
            <!-- <p class="ts-description">Nats Stenman began his career in construction with boots on the ground</p> -->
          </div>
        </div>
        <!--/ Team wrapper 6 end -->
      </div><!-- Col end -->
    </div><!-- Content row end -->

  </div><!-- Container end -->
</section><!-- Main container end -->

{% endblock %}

 