{% extends 'base.html' %}

{% block gift_card %}

  <title>{% block title %} Charity Gift Card{% endblock %}</title>

  <section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
              <h3 class="into-sub-title" style="text-align:center;">Charity Gift Card </h3>
              <br>
              <p>Our <b>Charity Gift Shop</b> known as <b>“Gift of Hope”</b> provide opportunities for individuals and organizations to donate towards our work. In appreciation 
              for support and contributions, donors actually receive a hand woven souvenir. These are actual gifts from our talented basket weavers in return for donation
              made to the organization. These are life changing donations that will go to support the work of TradeAID Integrated in Agriculture, Basket Weaving, Climate Change, 
              Youth entrepreneurship, among others. To receive a charity gift browse our gift catelogue <a href="http://www.giftofhope.com">www.giftofhope.com</p>
        </div><!-- Col end -->
      </div>
    </div>
   </section>

 {% endblock %}