{% extends 'base.html' %}
{% load static %}

{% block impact %}

  <title>{% block title %} Impact{% endblock %}</title>
 
 <section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
              <h3 class="into-sub-title" style="text-align:center;">Impact</h3><br><br>

              <table id="project_name" align="center">
                <tr>
                  <th>No. of Projects</th>
                  <th>No. of Communities</th>
                  <th>No. of Beneficiaries</th>
                  <th>No. of Women</th>
                  <th>No. of Men</th>
                </tr>
                <tr>
                  <td>17</td>
                  <td>87</td>
                  <td>52,052</td>
                  <td>36,070</td>
                  <td>21,421</td>
                </tr>                
                <tr>
                  <td colspan="3" align="right">Percentage TERMS</td>
                  <td>69</td>
                  <td>31</td>
                </tr>
              </table>
          
          </div><!-- Intro box end -->      
        </div><!-- Col end -->
      </div>
    </div><br><br>

   <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
              <h3 class="into-sub-title" style="text-align:center;">What Our Beneficiaries Say </h3>
          </div><!-- Intro box end -->   
          <br><br>  
        </div><!-- Col end -->

    <div id="demo" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="carousel-caption">
                    <p>&#8220; I remember back in 2007 when things were really hard for me as a mother of four. Though I used to work very hard weaving baskets, my products could not attract good prices on the market. The income
                    I made was often nothing to write home about. TradeAID Integrated introduced FairTrade to us and paid us more for our baskets and that really tansformed my life. I was able to pay tuition for my first born 
                    throughout his schooling. He is now a teacher and earns some income. I'm still weaving, and the income I make is what I am using to take care of my last born.&#8221; </p><img src="{% static 'images/testimonials/testimonial1.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Madam Azumah Zorbisi </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>&#8220; I used to farm because it was part of us as a people and never saw it as a business until TradeAID Integrated organized a series of entrepreneural and good agronomic practices training for me and my colleague farmers. Today, I keep my farm records and I am able to tell whether I made profits or not. This year, I did ½ acre dry season pepper garden which I am currently harvesting. I harvest 10 bags per week. In my estimation, I would be able to make 2,500 cedis profit by the end of the season in May. &#8221; </p> <img src="{% static 'images/testimonials/testimonial2.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Atule Nyaaba </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>&#8220; TradeAID's initiative on dry season gardening enable me to cultivate 4 beds of pepper and 3 beds of onions. I am using the income from the farm to support my children's schooling. &#8221; </p> <img src="{% static 'images/testimonials/testimonial3.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Madam Lydia </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-caption">
                    <p>&#8220; Helen Adawina, 30 years old. Her future now looks brigther thanks to her soap making business. Before TradeAID Integrated entrepreneurship training, I was into teaching and I was earning little income. Despite the 'peanuts' I was getting, I was forced to continue just to let people know I was not jobless. But with TradeAID Integrated's entrepreneurship training, I realized that I can diversify service to boost revenue and am now my own employer in soap making business. I earn ȼ150.00 to ȼ200.00 a week. I have been able to save enough and I am planning to further my education with the money I have saved from selling my products. &#8221; </p> <img src="{% static 'images/testimonials/testimonial4.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Helen Adawina </div>
                </div>
            </div>
             <div class="carousel-item">
                <div class="carousel-caption">
                    <p>&#8220; Before the SHINE project, I struggled to keep my small business afloat while providing for my family of seven. Buying and selling cereals and vegetables meant long, exhausting trips to Bolga, sometimes on foot, just to restock. Despite my efforts, my earnings weren’t enough to secure a better home or a stable future for my children.
                    That all changed when I joined SHINE. Through their training and a 5,000 cedis starter pack, I expanded my vegetable marketing business. Today, my income supports my children's education, and I am building a new home for my family—something I once thought was impossible.
                        I am forever grateful to Global Affairs Canada, CFTC, and TradeAID Integrated for this life-changing opportunity.
                        &#8221; </p> <img src="{% static 'images/testimonials/testimonial5.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Dundoug Lamisi, Gbeogo
</div>
                </div>
            </div>
             <div class="carousel-item">
                <div class="carousel-caption">
                    <p>&#8220; From Struggles to Stability: My Journey with SHINE 
                            Farming as a woman in my community was tough. With no funds for fertilizers, seeds, or equipment, my three-plot farm barely produced enough to feed my family past March each year. My income of Gh¢3,000 was never enough, and paying my children's school fees—especially for my child in senior high school—was a constant challenge.
                                Then came the SHINE Project. With a Gh¢5,000 starter pack and training in financial management, marketing, and vegetable processing, I expanded my farm from 1.75 acres to 5 acres. My maize yield increased from 4 bags per acre to 10, and my rice yield rose to 16 bags per acre. Now, I have enough food year-round, and my income has grown to about Gh¢14,400 annually.
                                Beyond financial stability, SHINE helped me discover my leadership potential. Today, I chair a Farmer-Based Organization (FBO), engage in community meetings, and inspire other women to pursue self-sufficiency.
                                SHINE has truly given me a push forward, and I am forever grateful to CFTC and TradeAID Integrated for this life-changing support.
                        &#8221; </p> <img src="{% static 'images/testimonials/testimonial6.jpg' %}" style="width: 300px; height: 300px;">
                    <div id="image-caption">Scholastica Alloah, Gaani </div>
                </div>
            </div>
         </div> <a class="carousel-control-prev" href="#demo" data-slide="prev"> <i class='fas fa-arrow-left'></i> </a> <a class="carousel-control-next" href="#demo" data-slide="next"> <i class='fas fa-arrow-right'></i> </a>
    </div>
</div>
</section><!-- Main container end -->

  {% endblock %}
