{% extends 'base.html' %}
{% load static %}

{% block home %}

<div class="banner-carousel banner-carousel-1 mb-0">
  <div class="banner-carousel-item" style="background-image:url('{% static 'images/slider-main/bg1.jpg' %}')">
    <div class="slider-content">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12 text-center">
                <h2 class="slide-title" data-animation-in="slideInLeft">The "Bolga Basket" Industry is a major source of livelihood for </h2>
                <h3 class="slide-sub-title" data-animation-in="slideInRight">Women</h3>
                <p data-animation-in="slideInLeft" data-duration-in="1.2">
                    <a href="{% url 'download_file' %}" class="slider btn btn-primary border">Catalogue</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url('{% static 'images/slider-main/bg2.jpg' %}')">
    <div class="slider-content text-left">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h3 class="slide-title" data-animation-in="fadeIn">Inspiring changes in traditional Agricultural practices for </h3>
                <h3 class="slide-sub-title" data-animation-in="slideInLeft">Improved Food Security</h3>
                <p data-animation-in="slideInRight">
                    <a href="{% url 'impact' %}" class="slider btn btn-primary border">Impact</a>
                </p>
              </div>
          </div>
        </div>
    </div>
  </div>

  <div class="banner-carousel-item" style="background-image:url('{% static 'images/slider-main/bg3.jpg' %}')">
      <div class="slider-content text-right">
        <div class="container h-100">
          <div class="row align-items-center h-100">
              <div class="col-md-12">
                <h2 class="slide-title" data-animation-in="slideInDown">Using </h2>
                <h3 class="slide-sub-title" data-animation-in="fadeIn">Village Savings and Loans </h3>
                <p class="slide-title" data-animation-in="slideInRight"> as a tool of economic empowerment to women and other vulnerable groups.</p>
                <div data-animation-in="slideInLeft">
                    <a href="{% url 'contact' %}" class="slider btn btn-primary" aria-label="contact-with-us">Reach Us</a>
                    <a href="{% url 'about' %}" class="slider btn btn-primary border" aria-label="learn-more-about-us">Learn more</a>
                </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<section class="call-to-action-box no-padding">
  <div class="container">
    <div class="action-style-box">
        <div class="row align-items-center">
          <div class="col-md-8 text-center text-md-left">
              <div class="call-to-action-text">
                <h3 class="action-title">Making Trade work for the poor</h3>
              </div>
          </div><!-- Col end -->
        <div class="col-md-4 text-center text-md-right mt-3 mt-md-0">
          </div><!-- col end -->
        </div><!-- row end -->
    </div><!-- Action style box -->
  </div><!-- Container end -->
</section><!-- Action end -->

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <div class="ts-intro">
              <h3 class="into-sub-title">Our Vision</h3>
              <p align="justify">Is to build a society where poverty has been eradicated and the right to basic human needs is guaranteed.</p>
          </div><!-- Intro box end -->      
          <br>
        </div><!-- Col end -->

        <div class="col-lg-6 mt-4 mt-lg-0">
          <h3 class="into-sub-title">Our Mission</h3>
          <p align="justify">Is to help the productive poor to create and manage viable business enterprises around the indigenous livelihoods for sustained poverty reduction and wealth creation.</p>
        </div>

</section><!-- Feature are end -->

    <div class="container">
        <div class="row">
               <div class="col-lg-6">
                  <h3 class="into-sub-title">Our Goal</h3>
                  <p align="justify">Is to contribute to the reduction of poverty in Northern Ghana where poverty is widespread..</p>
               </div><!-- col end -->
            </div><!-- Content row 1 end -->
          </div><!-- Col end -->
          <br>

{% endblock %}