{% extends 'base.html' %}
{% load static %}

{% block impact %}

<title>{% block title %} Media {% endblock %}</title>

<section id="main-container" class="main-container">
    <div class="container">
       <div class="row text-center">
        <div class="col-lg-12">
          <h3 class="section-sub-title">Upcoming Event!</h3>
        </div>
            
                <div class="container">
                    <p><a href="https://docs.google.com/forms/d/e/1FAIpQLScwJ8CJOg0zBxvOoLbByEt5bWNQJg1UbL7LCK4lN4gU6tWCSQ/viewform?usp=sharing&ouid=104994333600420903006">
                    REGISTER NOW!</a> to exhibit at BICAF 2025!.</p>
                </div><br><br><br>
            
          <div class="col-lg-6 mt-5 mt-lg-0">
              <div class="ts-team-wrapper">
                <div class="team-img-wrapper">
                    <img loading="lazy" src="{% static 'images/media/bicaf2025.jpg' %}" class="img-fluid" alt="BICAF25">
                </div>
          </div><!-- Page slider end-->
        </div><!-- Col end -->
    </div><!-- Content row end -->
</div>
  </div><!-- Container end -->
</section><!-- Main container end -->

<section id="main-container" class="main-container">
    <div class="container">
       <div class="row text-center">
        <div class="col-lg-12">
          <h3 class="section-sub-title">TradeAID Integrated Celebrates 25 Years of Impact!</h3>
        </div>
    </div><!--/ Title row end -->
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <p><strong>On 5th June 2025</strong>, TradeAID Integrated marks a major milestone: <strong>25 years of empowering communities, promoting fair trade, and advancing sustainable development in Ghana and beyond.</strong> 25 years of making trade work for the poor!!!</p>

<p>From humble beginnings in the Upper East Region, born from the undergraduate thesis of our founder <strong>Nicholas Apokerah</strong>, we've grown into a trusted force for grassroots transformation, working hand-in-hand with <strong>artisans, farmers, women, and youth</strong> to build resilient livelihoods and dignified futures.</p>

<p>As we celebrate this <strong>Silver Jubilee</strong>, we reflect with pride, gratitude, and renewed purpose. This anniversary is not just a celebration of years, but of <strong>people, partnerships, and progress</strong>.</p>

<p>Stay tuned for activities, stories, and reflections as we journey through <strong>25 years of TradeAID Integrated</strong>.</p>

<p><strong>Thank you for being part of our story.</strong></p>

<p>
  <em>#25YearsOfMakingTradeWorkForPoor</em><br>
  <em>#TradeAIDAt25</em><br>
  <em>#SilverJubilee</em><br>
  <em>#EmpoweringCommunities</em><br>
  <em>#FairTrade</em><br>
  <em>#SustainableDevelopment</em><br>
  <em>#FromBolgatangaToTheWorld</em>
</p>
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">
              <div class="ts-team-wrapper">
                <div class="team-img-wrapper">
                    <img loading="lazy" src="{% static 'images/media/tai25.jpg' %}" class="img-fluid" alt="TAI@25">
                </div>
          </div><!-- Page slider end-->
        </div><!-- Col end -->
    </div><!-- Content row end -->
</div>
  </div><!-- Container end -->
</section><!-- Main container end -->

<section id="main-container" class="main-container">
    <div class="container">
       <div class="row text-center">
        <div class="col-lg-12">
          <h3 class="section-sub-title">BICAF 2023!</h3>
        </div>
    </div><!--/ Title row end -->
    <div class="container">
    <div class="row">
        <div class="col-lg-6">
          <p>Are you lacing up your boots to participate in BICAF 2023?!!!.</p>
          <p>The Bolgatanga International Crafts and Arts Fair (BICAF) comes off again in November this year.</p>
            <p>BICAF is an annual exhibition fair organized by TradeAid Integrated, a non-profit organisation in Bolgatanga
            to promote the local economy of the Upper East Region. The event features Arts and Crafts as well as
            agriculture products by the indigenes of Bolgatanga and neighbouring towns.</p>
            <p>BICAF is an annual exhibition fair organized by TradeAid Integrated, a non-profit organisation in Bolgatanga
                to promote the local economy of the Upper East Region. The event features Arts and Crafts as well as
                agriculture products by the indigenes of Bolgatanga and neighbouring towns. </p>
            <p>BICAF exists to serve two crucial purposes; providing local entrepreneurs the opportunity to exhibit their
                products and draw attention to Bolgatanga; thus aiding development of the local economy of Upper East Region.</p>
            <p>Currently, youth unemployment is a major issue facing the region and BICAF will serve as the platform for the
                economic transformation of the region to help reduce poverty and create wealth.</p>
            <p>BICAF takes place in either <b>November or December every year</b>. </p>
        </div><!-- Col end -->

        <div class="col-lg-6 mt-5 mt-lg-0">
              <div class="ts-team-wrapper">
                <div class="team-img-wrapper">
                    <img loading="lazy" src="{% static 'images/media/bicaf1.jpg' %}" class="img-fluid" alt="BICAF">
                </div>
          </div><!-- Page slider end-->
        </div><!-- Col end -->
    </div><!-- Content row end -->
</div>
  </div><!-- Container end -->
</section><!-- Main container end -->

{% endblock %}