{% extends 'base.html' %}
{% load static %}

{% block shine_project %}
	
	<title>{% block title %} SHINE {% endblock %}</title>

  <section id="ts-features" class="ts-features">
    <div class="container">
      <div class="row">
          <div class="col-lg-12">
            <div class="ts-intro" align="justify">
                <h3 class="into-sub-title" align="center">Sustainable Development, Human Rights, Inclusion and Equality (SHINE)</h3>
                   <div class="container">
                    <div class="row">
                      <div class="col-lg-12">
                        <div id="page-slider" class="page-slider small-bg">

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine1.jpg' %}" alt="shine1" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine2.jpg' %}" alt="shine2" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine3.jpg' %}" alt="shine3" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine4.jpg' %}" alt="shine4" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine5.jpg' %}" alt="shine5" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine6.jpg' %}" alt="shine6" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine7.jpg' %}" alt="shine7" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine8.jpg' %}" alt="shine8" height="5000px" width="5000px"/>
                          </div>

                          <div class="item">
                            <img loading="lazy" class="img-fluid" src="{% static 'images/projects/shine9.jpg' %}" alt="shine9" height="5000px" width="5000px"/>
                          </div>

                          </div>
                        </div><!-- Page slider end -->
                       </div><!-- Slider col end -->
                     </div><!-- Content col end -->
                    </div><!-- Row end -->
                  </div><!-- Container end -->
                 </div>

                <div class="ts-team-content-classic" align="justify">
                <p class="ts-description">The <b>Sustainable Development, Human Rights Inclusion and Equality (SHINE) project,</b> 
                  is funded by <b>Global Affairs Canada (GAC)</b> through <b>Canadian Feed the Children (CFTC).</b>
                  <p>SHINE is a three-year pro-poor intervention that aims at enhancing the empowerment of women and girls in 
                  agriculture and agribusiness related activities.</p>
                  <p>SHINE is being implemented in <b>16 communities</b> across <b>4 Districts</b> in the Upper East Region <b>(Bolgatanga Municipal, 
                  Talensi, Bongo, Kassena Nankana Municipal).</b></p>
                  <p>With the main focus on dry season vegetables production, critical outcomes from the project is expected to contribute to
                  poverty reduction by addressing food insecurity through increasing women-controlled food production, crop and dietary diversity, 
                  to ensure nutritive value is maintained throughout the production.</p>
                  <p>The above processes are propelled by supporting sustainable economic growth through incubation, value-addition, and increasing access
                  to markets for agriculture-based products.</p>
                  <p>Specific objectives of SHINE project include:</p>
                  <div class="container">
                    <ul class='list-arrow'>
                      <li>Increase the agency of women and girls in sustainable agriculture and agribusiness related activities.</li><br>
                      <li>Improve access to economic opportunities for women and girls in sustainable agriculture and agribusiness related activities.</li><br>                
                      <li>Nurture Agro-based enterprises through business incubation model to ensure sustainable, viable and bankable enterprises with scalability potentials.</li><br> 
                    </ul>          
                  </div>
                  <p>SHINE Project is projected to reach;</p>
                    <div class="container">
                      <ul class='list-arrow'>
                       <li>8,000 vegetable households in SHINE Project communities.</li>
                       <li>Cover 70% of female and 30% of male beneficiaries.</li>
                       <li>Overall, incubate and nurture 80 Agro-based enterprises in SHINE Project communities.</li>             
                      </ul>                     
                    </div>
                <p>In terms of gender equality and reduction of gender-based violence, the project has achieved the following:</p>
                <div class="container">
                  <ul class='list-arrow'>
                   <li>Trained 480 FBO members (256 females and 224 males) on Positive Gender Beliefs across all project communities.</li>
                   <li>78 females and 73 males participated in training on Sexual and Gender-Based Violence (SGBV).</li>
                   <li>612 FBO members (69% women and 31% men) received training on Group Dynamics.</li>
                   <li>703 participants (442 females and 261 males) were educated on Gender Equality at the community level.</li>
                   <li>Achieved an average satisfaction level of 75% in pre and post assessments of gender training.</li> 
                   <li>Established 16 Gender Clubs in all project communities to educate young girls and boys about their rights and responsibilities.</li>                   
                  </ul>                       
                </div>
                <p>These efforts have collectively contributed to a more gender-balanced and harmonious society in the Upper East Region.
                </p>
                <p>The project is been supported by <b>Canadian Feed the Children</b> with funding from <b>Global Affairs Canada. 

                </b>The <b>Africa Agribusiness Incubation Network</b> is providing
                   technical support in the business incubation of the project:</p>
                <section id="main-container" class="main-container pb-4">
                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                      <div class="ts-team-wrapper">
                        <div class="team-img-wrapper">
                          <img loading="lazy" src="{% static 'images/partners/partner9.jpg' %}" class="img-fluid" alt="AVSF" height="200px" width="200px">
                        </div>
                      </div>
                      <!--/ Team wrapper 3 end -->
                    </div><!-- Col end -->

                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                      <div class="ts-team-wrapper">
                        <div class="team-img-wrapper">
                          <img loading="lazy" src="{% static 'images/partners/partner1.jpg' %}" class="img-fluid" alt="AFC" height="200px" width="200px">
                        </div>
                      </div>
                      <!--/ Team wrapper 4 end -->

                    </div><!-- Col end -->

                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                      <div class="ts-team-wrapper">
                        <div class="team-img-wrapper">
                          <img loading="lazy" src="{% static 'images/partners/partner8.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                        </div>
                      </div>
                      <!--/ Team wrapper 5 end -->
                    </div><!-- Col end -->
                  </div><!-- Content row end -->
            </section><!-- Main container end -->
          </section>

{% endblock %}