{% extends 'base.html' %} {% load static %} {% block isolve_project %}

<title>{% block title %} I-SOLVE {% endblock %}</title>

<section id="ts-features" class="ts-features">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="ts-intro" align="justify">
                    <h3 class="into-sub-title" align="center">I-Solve Business Incubation Hub</h3><br><br>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div id="page-slider" class="page-slider small-bg">

                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve1.jpg' %}" alt="isolve1"height="100%"/>
                                    </div>

                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve2.jpg' %}" alt="isolve2" />
                                    </div>

                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve3.jpg' %}" alt="isolve3" />
                                    </div>

                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve4.jpg' %}" alt="isolve4" />
                                    </div>

                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve5.jpg' %}" alt="isolve5" />
                                    </div>
                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve6.jpg' %}" alt="isolve5" />
                                    </div>
                                    <div class="item">
                                        <img loading="lazy" class="img-fluid" src="{% static 'images/projects/isolve7.jpg' %}" alt="isolve5" />
                                    </div>
                               </div>
                            </div>
                            <!-- Page slider end -->
                        </div>
                        <!-- Slider col end -->
                    </div>
                    <!-- Content col end -->
                </div>
                <!-- Row end -->
            </div>
            <!-- Container end -->
        </div>

        <div class="ts-team-content-classic" align="justify">
            <p class="ts-description"><p>Ghana has a population of around <b>32 million people</b>. It is characterized by a youthful demographic, with a significant portion of the population under the age of 35. Ghanaian youth face significant challenges that hinder their personal growth and economic contribution to national development. Youth unemployment in Ghana is relatively high. According to the Ghana Statistical Service, the <b>unemployment rate</b> for young people <b>aged 15-24</b> was <b>19.7% in 2021</b>, while the rate for those <b>aged 25-35 was 11.8%</b>. Additionally, many are underemployed in low-paying, insecure jobs within the informal sector, which employs about <b>85% of the workforce</b> <b>(International Labour Organization, 2020)</b>.</p>
            <p>To help address this challenge TradeAID Integrated initiated the I-Solve Business Incubation Programme. The name I-Solve come from the fact that entrepreneurs solve problems and the hub hope to guide young entrepreneurs to help address the challenges of Northern Ghana and Ghana at large. We offer pathways in <b>Craft Skills Development, ICT & Digital Skills, and Agriculture & Agri-business.</b></p>

            <p><b>Goal</b></p>
            <p>To foster socio-economic development through talent nurturing and entrepreneurial development, our incubation Hub provides workspace, equipment, and intensive mentorship to transform ideas into thriving enterprises.

            <p><b>Objective</b></p>
            <p>In the next five years we hope to be able to support about 750 young men and women set up their own businesses to employ themselves and others.</p>

            <p><b>Key Services</b></p>
                <div class="container">
                    <ul class='list-arrow'>
                        <li>Refinement of business ideas</li><br>
                        <li>Starter packs for business launch</li><br>
                        <li>Business planning and management training</li><br>
                        <li>Internship and apprenticeship placements</li><br>
                        <li>Mentorship by industry experts</li><br>
                        <li>Peer-to-peer learning networks</li><br>
                        <li>Access to flexible financing</li><br>
                        <li>Customer acquisition and retention strategies</li><br>
                        <li>Facilitation of business partnerships</li><br>
                    </ul>

            <p><b>Key Resources</b></p>
                <div class="container">
                    <ul class='list-arrow'>
                        <li>Furnished workspace</li><br>
                        <li>SDedicated staff and mentors</li><br>
                        <li>Some revolving fund for investments</li><br>
                    </ul>
                </div>
                <p><b>Achievements</b></p>
                <p>The concept has been operationalized with the support of two projects that we have implemented namely <b>Sustaining the Craft Industry in Bolgatanga (SUSCRIB).</b> Under this project the craft pathway was operationalized with the recruitment of <b>36 incubates</b> made up of <b>33 females and 3 men aged between 18-35 years</b> were taken through the process of incubation and supporter with a starter pack averagely <b>GHC 2000.00.</b></p>
                
                <p>The second project is the <b>Sustainable Development, Human Rights Inclusion and Equality-SHINE Project</b>. Under this project <b>87 incubates</b> have been recruited made up of <b>54 females and 33 men</b>. This project operationalized the pathway on Agriculture and Agri-business. All the incubates under this received a starter pack value at <b>GHC 5, 000.00</b></p>

                <section id="main-container" class="main-container pb-4">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner9.jpg' %}" class="img-fluid" alt="AVSF" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 3 end -->
                        </div>
                        <!-- Col end -->

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner1.jpg' %}" class="img-fluid" alt="AFC" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 4 end -->

                        </div>
                        <!-- Col end -->

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner8.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 5 end -->
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner5.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 5 end -->
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner10.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 5 end -->
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner11.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 5 end -->
                        </div>

                        <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                            <div class="ts-team-wrapper">
                                <div class="team-img-wrapper">
                                    <img loading="lazy" src="{% static 'images/partners/partner12.jpg' %}" class="img-fluid" alt="FFEM" height="200px" width="200px">
                                </div>
                            </div>
                            <!--/ Team wrapper 5 end -->
                        </div>
                        <!-- Col end -->
                    </div>
                    <!-- Content row end -->
                </section>
                <!-- Main container end -->
</section>

{% endblock %}