{% extends 'base.html' %}
{% load static %}

{% block income_project %}
	
	<title>{% block title %} INCOME{% endblock %}</title>

<section id="ts-features" class="ts-features">
  <div class="container">
    <div class="row">
        <div class="col-lg-12">
          <div class="ts-intro" align="justify">
              <h3 class="into-sub-title" align="center">Integrated Community Empowerment Project (INCOME)</h3>
              <br><br>

                <div class="container">
                  <div class="row">
                    <div class="col-lg-12">
                      <div id="page-slider" class="page-slider small-bg">

                        <div class="item">
                          <img loading="lazy" class="img-fluid" src="{% static 'images/projects/income1.jpg' %}" alt="income1" />
                        </div>

                        <div class="item">
                          <img loading="lazy" class="img-fluid" src="{% static 'images/projects/income2.jpg' %}" alt="income2" />
                        </div>

                        <div class="item">
                          <img loading="lazy" class="img-fluid" src="{% static 'images/projects/income3.jpg' %}" alt="income3" />
                        </div>

                        <div class="item">
                          <img loading="lazy" class="img-fluid" src="{% static 'images/projects/income4.jpg' %}" alt="income4.jpg" />
                        </div>

                        </div>
                      </div><!-- Page slider end -->
                     </div><!-- Slider col end -->
                   </div><!-- Content col end -->
                  </div><!-- Row end -->
                </div><!-- Conatiner end -->
               </div><br>

          <div class="ts-team-content-classic" align="justify">
          <p class="ts-description"><p>The <b>Integrated Community Empowerment Project (INCOME)</b> has being running since 2013. The ultimate goal of this project is to ensure children in vibrant sustainable communities in Northern Ghana have a good foundation for a prosperous future. 
          The initiative, which emphasizes on Women empowerment, Gender Mainstreaming and the improving nutritional value of our local foods has been implemented in <b>five communities in Bolgatanga municipality, Bongo District and Kasena - Nankana East Municipal Assembly</b>. 
          Selected communities under this project include; <b>Vea, Biu, Yebongo, Zubgo, Lungu and Agusi</b>. The scope of this project covers; small ruminants rearing, animal traction support, Agro-processing, village savings and loans and basket weaving. The project since its inception has recorded the following achievements;</p><br>
              <ul class='list-arrow'>
                <li>The project has recorded a remarkable increase in farm yields. <b>Over 450 of farmers</b> with majority being women were introduced to modern agro techniques and new agronomic practices under the project. These techniques included nuclear farming conceptes such as system of crop intensification, urea deep placement and 
                inoculants application leading to significant increase in yields in groundnuts, rice, maize and millet. Farmers have experienced <b>between 53% to 70% increase in yield</b> since they introduced these methods compared to their old practices.</li><br>
                <li>Under this project, a <b>total of 35 functional Village Savings and Loans (VSLA)</b> have been set up and rakes in about <b>GHȼ 125,000.00 yearly.</b> Funds raised through this facility is used to support their economic activities such as farming, petty trading and basket weaving, etc. These groups will continue to save
                even after the end of the project.</li><br>                
                <li>In the area of nutrition education, <b>about 415 women</b> were trained on how to prepare different nutrition meals with available local food stuffs and items. Some of the beneficiaries have indeed initiated businesses based on these new knowledge and skills acquired.</li><br>
                <li>Another great feat achieved through this project is support young women and men in designated communities. This support aided them to initiate entrepreneurial activities such as dry season gardening, soap making, guinea fowl rearing, etc. <b>Up to 17 young people</b> successfully started some businesses via this initiative. 
                </li>
              </ul><br>
              <p>The project has been funded over the years by <b>Canadian Feed The Children</b></p><br><br>
   
              <div class="container">
                <div class="team-img-wrapper">
                  <img loading="lazy" src="{% static 'images/partners/partner1.jpg' %}" class="img-fluid" alt="Canadian Feed The Children" width="250px" height="250px">
                </div>
              </div>
  </section>
  

{% endblock %}