{% extends 'base.html' %}
{% load static %}

{% block ieow_project %}
	
	<title>{% block title %} IEOW{% endblock %}</title>

        <section id="ts-features" class="ts-features">
          <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <div class="ts-intro" align="justify">
                      <h3 class="into-sub-title" align="center">Increasing Economic Opportunities for Women through soiless farming (IEOW).</h3>
                      <br><br>

                      <div class="container">
                        <div class="row">
                          <div class="col-lg-12">
                            <div id="page-slider" class="page-slider small-bg">

                              <div class="item">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/projects/ieow1.jpg' %}" alt="ieow1" height="5000px" width="5000px" />
                              </div>

                              <div class="item">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/projects/ieow2.jpg' %}" alt="ieow2" height="5000px" width="5000px" />
                              </div>

                              <div class="item">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/projects/ieow3.jpg' %}" alt="ieow3" height="5000px" width="5000px" />
                              </div>

                              <div class="item">
                                <img loading="lazy" class="img-fluid" src="{% static 'images/projects/ieow4.jpg' %}" alt="ieow4.jpg" height="5000px" width="5000px" />
                              </div>

                              </div>
                            </div><!-- Page slider end -->
                           </div><!-- Slider col end -->
                         </div><!-- Content col end -->
                        </div><!-- Row end -->
                      </div><!-- Conatiner end -->
                     </div><br>

                  <div class="ts-team-content-classic" align="justify">
                  <p class="ts-description">With funding from <b>Shared Interest Foundation</b>, the <b>IEOW</b> project is <b>TradeAID Integrated newest project</b>. The project idea is to support a cross section of Bolgatanga Basket Weavers groups that TradeAID Integrated has been working with over the years to diversify their income source especially in the wake of the COVID 19 pandamic which resulted in a significant reduction in the demand for baskets on the international market. The project seeks to explore ways that will help manage the basket weavers in 
                  a manner that will reduce the impact of the shocks arising from the sudden reduction in the demand for their baskets. The project specific objectives include the following:<br><br>
              
                  <ul class='list-arrow'>
                    <li>Facilitate the readiness of <b>12 basket weavers groups</b> to enagaged in <b>vegetable cultivation</b></li><br>
                    <li>Support <b>12 basket weavers groups totaling 120 women</b> to cultivate <b>one acre</b> farm of vegetables each by the close of <b>2022</b>.</li><br> 
                    <li>Faciltitate market access for <b>about 90% of vegetables</b> produced by the <b>women</b> 
                    </li>
                  </ul><br>
                  <p>The project has the generous support of the following <b>partners:</b></p><br>

                  <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-6 mb-5">
                      <div class="ts-team-wrapper">
                        <div class="team-img-wrapper">
                          <img loading="lazy" src="{% static 'images/partners/partner4.jpg' %}" class="img-fluid" alt="AVSF" height="200px" width="200px">
                        </div>
                      </div>
                      <!--/ Team wrapper 3 end -->
                  </div><!-- Content row end -->
              </section><!-- Main container end -->


{% endblock %}